
/* Body */

body {
    background-color: #F9FAFC;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #000000;

}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Headers */

.banner-header {
    color: azure;

}

.block-divider {
    height: 5px;
    color: black;
}

/* Navbar */

.navbar-hover-area {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-hover-area:hover .custom-navbar {
    transform: translateY(0);
}

.custom-navbar {
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}


.navbar-light .navbar-toggler {
    border-color: rgb(0 0 0 / 0%); 
}

.navbar-toggler {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1100;
    visibility: visible;
    background-color: rgba(225, 225, 225, 0.8);
    padding: 2px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-content p {
    flex-grow: 1;
    margin: 0;
    text-align: center;
}


/* Containers */
.banner{
    width: 100%;
    background-color:transparent;
    background-size: cover;
}


.home-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../css/images/spread.jpg) no-repeat bottom right fixed; 
    background-size: cover;
    overflow: hidden;
}


.menu-container {
    padding-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.cancel-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-container{
    padding-top: 5rem;
    width: 70%;
}

.booking-details-container {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.login-container {
    min-height: 100vh;
}
   

.signup-row, .login-row {
    padding-top: 10rem;
}

.cancel-row {
    width: 60rem;
}

.overlay-row {
    z-index: 1;
}


.update {
    flex: 0 0 auto;
    width: 95%;
}




/* Colors */


.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #035fc1;
}


.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.jumbotron{
    margin-top: 200px;
}

/* Button Colors */



.btn-signup,
.btn-edit {
    background-color: #181d81;
    color: black;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: black;
    color: #181d81;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: black;
    text-decoration: underline;
}


.btn-delete {
    color: #fff;
    background: #181d81;
}


.footer {
    width: 100%;
    background-color: #022347;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}


/* Small Screen Adjustments */
@media (max-width: 768px) {
    .home-container {
        background-position: center;
        background-attachment: scroll;
        height: auto;
    }

    .cancel-container, .login-container, .logout-container, .booking-details-container {
        height: auto;
    }

    .jumbotron {
        margin-top: 50px;
    }

    .navbar-hover-area {
        height: auto;
    }

    .custom-navbar {
        display: block;
        opacity: 0.9;
        transform: none;
    }

    .navbar-toggler {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1100;
        visibility: visible;
        background-color: rgba(225, 225, 225, 0.8);
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 30px;
    }

    .navbar-collapse {
        background-color: rgba(225, 225, 225, 0.9);
    }

    .navbar-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-content p {
        text-align: center;
        margin: 0;
        padding-right: 10px;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar>.container-fluid {
        display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    }
}