
/* Body */

body {
    background-color: #F9FAFC;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #445261;

}


/* Headers */

.banner-header {
    color: azure;

}

.block-divider {
    height: 5px;
    color: black;
}

/* Containers */
.banner{
    width: 100vh;
    background-color:transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.home-container {
    

    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;

    background: url(../css/images/spread.jpg.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.menu-container {
    padding-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.cancel-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-container{
    padding-top: 5rem;
    width: 70%
}

.booking-details-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
   
    display: flex;
    align-items: center;
    justify-items: center;
}

.login-container {
    height: 100vh;
}
   

.signup-row, .login-row {
    padding-top: 10rem;
}

.cancel-row {
    width: 60rem;
}

.overlay-row {
    z-index: 1;
}


.update {
    flex: 0 0 auto;
    width: 95%;




/* Colors */


.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #035fc1;
}


.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.jumbotron{
    margin-top: 200px;
}

/* Button Colors */



.btn-signup,
.btn-edit {
    background-color: #181d81;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #181d81;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: black;
    text-decoration: underline;
}


.btn-delete {
    color: #181d81;
    background: #fff;
}


.footer {
    width: 100%;
    background-color: #445261;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}