{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <form method="post">
                <div class="col-md-6">
                    <article class="m-2"><strong>First Name :</strong> {{ profile.first_name }}</article>
                    <article class="m-2"><strong>Last Name :</strong> {{ booking.booking_system.last_name }}</article>
                    <article class="m-2"><strong>Email :</strong> {{ booking.booking_system.email }}</article>
                    <article class="m-2"><strong>Phone :</strong> {{ booking.booking_system.phone_number }}</article>
                    <article class="m-2"><strong>Time :</strong> {{ booking.booking_system.time }}</article>
                    <article class="m-2"><strong>Date :</strong> {{ booking.booking_system.date }}</article>
                    
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}