{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container menu-container">
    <div class="row menu-row">
        <div class="col-md-6">
            <section class="drinks">
                <h2>Drinks</h2>
                <ul class="list-unstyled">
                    <li>Coffee - $2.50</li>
                    <li>Tea - $2.00</li>
                    <li>Soda - $1.75</li>
                    <li>Mineral Water - $1.50</li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2>Sandwiches</h2>
                <ul class="list-unstyled">
                    <li>Peanut Butter & Jelly - $5.50</li>
                    <li>Ham & Cheese  - $4.50</li>
                    <li>Chicken & Mayo - $4.50</li>
                    <li>Meatloaf - $6.00</li>
                </ul>
            </section>
        </div>
    </div>
</div>

<hr class="block-divider">

<div class="container menu-container">
    <div class="row">
        <div class="col-md-6">
            <section class="drinks">
                <h2>Pasta</h2>
                <ul class="list-unstyled">
                    <li>Carbonara - $12.50</li>
                    <li>Bolognese - $10.00</li>
                    <li>Parmesan - $14.00</li>
                    <li>Pesto - $10.50</li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2>Fruits</h2>
                <ul class="list-unstyled">
                    <li>Kiwi - $2.50</li>
                    <li>Apple - $1.50</li>
                    <li>Banana - $1.50</li>
                    <li>Peach - $2.50</li>
                </ul>
            </section>
        </div>
    </div>
</div>

<hr class="block-divider">

<div class="container menu-container">
    <div class="row">
        <div class="col-md-6">
            <section class="drinks">
                <h2>Cocktails</h2>
                <ul class="list-unstyled">
                    <li>Mosco Mule - $12.50</li>
                    <li>Mojito - $12.00</li>
                    <li>Apero Spritz - $12.50</li>
                    <li>Old Fashioned - $15.00</li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2>Desserts</h2>
                <ul class="list-unstyled">
                    <li>Chocolate Cake - $4.50</li>
                    <li>Apple Pie - $3.75</li>
                    <li>Ice Cream - $3.00</li>
                    <li>Cheesecake - $4.00</li>
                </ul>
            </section>
        </div>
    </div>
</div>

{% endblock %}