{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container menu-container">
    <div class="row drinks-image-container">
        <div class="col-12">
            <img src="{% static 'css/images/juice.jpg' %}" class="img-fluid drinks-image" alt="Three Colorful fruitjuice classes">
        </div>
    </div>
    <div class="row menu-row">
        <div class="col-md-6">
            <section class="drinks">
                <h2>Drinks</h2>
                <ul class="list-unstyled">
                    <li class="menu-item">
                        <span class="item-name">Coffee</span>
                        <span class="item-price">$2.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Tea</span> 
                        <span class="item-price">$2.00</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Soda</span>
                        <span class="item-price">$1.75</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Mineral Water</span>
                        <span class="item-price">$1.50</span>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section class="drinks">
                <h2>Cocktails</h2>
                <ul class="list-unstyled">
                    <li class="menu-item">
                        <span class="item-name">Mosco Mule</span>
                        <span class="item-price">$12.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Mojito</span>
                        <span class="item-price">$12.00</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Apero Spritz</span> 
                        <span class="item-price">$12.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Old Fashioned</span>
                        <span class="item-price">$15.00</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

<hr class="block-divider">

<div class="container menu-container">
    <div class="row">
        <div class="col-md-6">
            <section class="drinks">
                <h2>Pasta</h2>
                <ul class="list-unstyled">
                    <li class="menu-item">
                        <span class="item-name">Carbonara</span>
                        <span class="item-price">$12.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Bolognese</span>
                        <span class="item-price">$10.00</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Parmesan</span>
                        <span class="item-price">$14.00</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Pesto</span>
                        <span class="item-price">$10.50</span>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2>Burger + Fries</h2>
                <ul class="list-unstyled">
                    <li class="menu-item">
                        <span class="item-name">Classic Cheese</span>
                        <span class="item-price">$11.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Bacon & Cheese</span> 
                        <span class="item-price">$12.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Classic Chicken</span>
                        <span class="item-price">$14.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Double Cheese</span> 
                        <span class="item-price">$16.00</span>
                    </li>
                </ul>
            </section>
        </div>
        </div>
    </div>
</div>

<hr class="block-divider">

<div class="container menu-container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h2>Fruits</h2>
                <ul class="list-unstyled">
                    <li class="menu-item">
                        <span class="item-name">Kiwi</span>
                        <span class="item-price">$2.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Apple</span>
                        <span class="item-price">$1.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Banana</span>
                        <span class="item-price">$1.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Peach</span>
                        <span class="item-price">$2.50</span>
                    </li>
                </ul>
            </section>     
        </div>
        <div class="col-md-6">
            <section>
                <h2>Desserts</h2>
                <ul class="list-unstyled">
                    <li class="menu-item">
                        <span class="item-name">Chocolate Cake</span>
                        <span class="item-price">$4.50</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Apple Pie</span>
                        <span class="item-price">$3.75</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Ice Cream</span>
                        <span class="item-price">$3.00</span>
                    </li>
                    <li class="menu-item">
                        <span class="item-name">Cheesecake</span>
                        <span class="item-price">$4.00</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

{% endblock %}