{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<form class="g-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>
        <div class="col-12">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3">
        </div>
        <div class="col-12">
            <label for="inputEmail3" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone">            
        </div>
        <div data-mdb-input-init class="form-outline" style="width: 22rem;">
            <label class="form-label" for="typeNumber">Number of Places</label>
            <input min="1" max="20" type="number" id="typeNumber" class="form-control" />
        </div>
        <div class="row">
            <div class="col">
                <label>Date:</label>
                <input type="date" class="form-control" name="date" required>
            </div>
            <div class="col">
                <label>Time:</label>
                <input type="time" class="form-control" name="time" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit Booking</button> 
    </div>
</form>

<!-- index.html content ends here -->
{% endblock %}