{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5 ">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h4 class="text-center">Confirmed Booking</h4>
      <!-- Display the user's bookings -->
      {% for booking in bookings %}
      <div id="booking{{ booking.id }}">
        <ul>
                    
          <li>
          {{ booking.first_name }} | {{ booking.time }} | {{ booking.date }} | {{ booking.time }}
          <!-- Cancel booking option -->                 
          </li>
        </ul>
      </div> 
      <form action="{% url 'cancel_booking' booking.id %}" method="post">
        {% csrf_token %}
        <div>
          <button type="submit" class="btn btn-delete" booking_id="{{ booking.id }}">Cancel</button>
        </div> 
      </form>
      <form action="{% url 'edit_booking' booking.id %}">
        <button class="btn btn-edit" booking_id="{{ booking.id }}">Edit</button>
      </form>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/bookings.js' %}"></script>
{% endblock %}
