{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h2>Drinks</h2>
                <ul class="list-unstyled">
                    <li>Coffee - $2.50</li>
                    <li>Tea - $2.00</li>
                    <li>Soda - $1.75</li>
                    <li>Mineral Water - $1.50</li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2>Desserts</h2>
                <ul class="list-unstyled">
                    <li>Chocolate Cake - $4.50</li>
                    <li>Apple Pie - $3.75</li>
                    <li>Ice Cream - $3.00</li>
                    <li>Cheesecake - $4.00</li>
                </ul>
            </section>
        </div>
    </div>
</div>

{% endblock %}